<!DOCTYPE html>
<html>
<head>
  <title>Weather Info</title>
</head>
<body>
  <h1>Weather Information for <%= city %></h1>
  <p>Temperature: <%= temperature %>°C</p>
  <p>Description: <%= description %></p>

  <img src="<%= iconURL %>" alt="Weather Icon">

  <a href="/">Go Back</a>
</body>
</html>

